:root{
  --global-container-radius: 10px;
  --global-div-radius: 5px;
}
*{
  border-radius:  var(--global-radius);

}

.App{
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin: 0;
  place-items: center;
  height: 90vh;
  border: 1px solid red;
  background-color: silver;
  border-radius: 10px;
}