:root{
  --global-container-radius: 10px;
  --global-div-radius: 5px;
}
*{
  border-radius:  var(--global-radius);

}
div{
  border-radius: var(--global-div-radius)
}

.App{
  display: grid;
  grid-template-rows: 1fr 4fr;
  margin: 0;
  place-items: center;
  min-height: 90vh;
  min-width: fit-content;
  
  background:linear-gradient(to right, #deebff, #cce0ff, #b3d1ff);
  border-radius: 10px;
  padding: 1rem;
}

/*modal styles*/
#f10Form{
    display: grid;
    padding: 1rem;
    background-color: 'gray';
    padding: '20px';
    border-radius: '8px';
    box-shadow: '0 4px 6px rgba(0, 0, 0, 0.1)';
     
  
  
}
#f10Fieldset{
    border: 1px solid orange;
    border-radius: 8px;
    padding: 1rem;
}


#f10Form label{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem;
}
#f10Form label input, #f10Form label select{
  
    width: 300px
    
}
     